{% extends './layout.html' %}

{% block title %} Formulario {% endblock %}

{% block body%}
    <h2 class="my-4">Dicom Uploader</h2>
    <hr class="my-4">
    <form class="needs-validation" action="/upload" enctype="multipart/form-data" method="POST"> 
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <br/>
          {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row g-3">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="col-sm-6">
          <label for="institution" class="form-label">Institución</label>
          <select class="form-select" name="institution" required>
            <option value="" disabled selected>Seleccione una opción</option>
            {% for institution in institutions %}
            <option value="{{institution.name}}">{{institution.name}}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Debe seleccionar la institucion a la que pertenece.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Operador</label>
          <span class="input-group-text"> {{ current_user.operator_name  }}</span>
        </div>

        <div class="col-sm-6">
          <label for="tipo-estudio" class="form-label">Tipo de estudio</label>
          <select class="form-select" id="tipo-estudio" name="tipo-estudio" required>
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="RM">RM</option>
            <option value="RM Contraste"> RM Contraste</option>
            <option value="Otro">Otro</option>
          </select>
          <div class="invalid-feedback">
            Debe seleccionar el tipo de estudio.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="tipo-diagnostico" class="form-label">Tipo de Diagnostico</label>
          <select class="form-select" id="tipo-diagnostico" name="tipo-diagnostico" required>
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="Patologico">Patológico</option>
            <option value="No Patologico"> No Patológico</option>
          </select>
          <div class="invalid-feedback">
            Debe seleccionar el tipo de diagnostico sobre el estudio a subir.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="equipo" class="form-label">Equipo (Marca/Modelo)</label>
          <input type="text" class="form-control" id="equipo" name="equipo">
          <div class="invalid-feedback">
            Debe indicar Marca/Modelo del equipo.
          </div>
        </div>

        <div class="col-12">
          <label for="file[]" class="form-label">Seleccione la carpeta que contiene el Estudio Completo</label>
          <input type="file" class="form-control" id="file[]" name="file[]" webkitdirectory directory required>
          <div class="invalid-feedback">
              Debe ingresar la carpeta con el estudio completo a subir.
          </div>
        </div>
      </div>
    
      <button class="w-2 my-4 btn btn-primary btn-lg" type="submit">Subir Estudio</button>
      <hr>
    </form>
{% endblock %}